<nav class="bg-blue-500 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo o Título de la Aplicación -->
    <a routerLink="/" class="text-white text-xl font-bold">Sfaketify</a>

    <!-- Menú de Navegación -->
    <ul class="flex space-x-4">
      <li>
        <a routerLink="/playlists" class="text-white hover:underline">Playlists</a>
      </li>
      <li>
        <a routerLink="/artistas" class="text-white hover:underline">Artistas</a>
      </li>
      <!-- Agrega más enlaces de menú según sea necesario -->
    </ul>
  </div>
</nav>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
